In [33]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [37]:
data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True, skiprows=[1])
data = data.dropna()
data.rename({'latitude      ': 'latitude', 'longitude     ': 'longitude'})
data = data.iloc[:100000, :].loc[:, ['latitude', 'longitude']]

data

C:\Everything\IT Programs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18
...,...,...,...,...,...,...
1021959,955561,626076.0,20073.0,40.850100,-73.866246,2012-04-13 09:56:48
1021960,955892,674797.0,2297.0,33.748995,-84.387982,2012-04-13 10:56:03
1021961,956377,845102.0,11195.0,42.765366,-71.467566,2012-04-13 12:08:45
1021962,956119,1139114.0,29488.0,42.439479,-83.743830,2012-04-13 11:36:44
1021964,956733,960666.0,60.0,42.331427,-83.045754,2012-04-13 21:56:19

In [39]:
data.columns

Index(['id    ', 'user_id ', 'venue_id ', 'latitude      ', 'longitude     ',
       'created_at      '],
      dtype='object')

In [40]:
data = data.iloc[:100000, :].loc[:, ['latitude      ', 'longitude     ']]
data

        latitude        longitude
1            38.895112      -77.036366
3            33.800745      -84.410520
7            45.523452     -122.676207
9            40.764462     -111.904565
10           33.448377     -112.074037
...                ...             ...
233788       33.575000     -117.725556
233789       37.629349     -122.400087
233793       29.762884      -95.383061
233797       32.802955      -96.769923
233798       37.774929     -122.419415

[100000 rows x 2 columns]

        latitude        longitude
1            38.895112      -77.036366
3            33.800745      -84.410520
7            45.523452     -122.676207
9            40.764462     -111.904565
10           33.448377     -112.074037
...                ...             ...
233788       33.575000     -117.725556
233789       37.629349     -122.400087
233793       29.762884      -95.383061
233797       32.802955      -96.769923
233798       37.774929     -122.419415

[100000 rows x 2 columns]

In [15]:
ms = MeanShift(bandwidth=0.1)
ms.fit(data)

ValueError: could not convert string to float: '2012-04-21 17:43:47'